.main-container {
    width: 1440px;
    height: 800px;
    background-color: #f9faff;
}

.header-container {
    height: 64px;
    display: flex;
    width: 1440px;
    align-items: center;
    padding-left: 150px;
    background-color: #ffffff;
    justify-content: space-between;
}

.bellotero-logo {
    width: 133px;
    height: 26px;
    object-fit: contain;
}

.menu-items {
    overflow: hidden;
    margin-right: 300px;
    list-style-type: none;
}

.menu-item {
    float: left;
    height: 16px;
    color: #071eb3;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    font-family: Roboto;
    font-stretch: normal;
    letter-spacing: 0.3px;
}

.menu-item-link {
    padding: 16px;
    text-align: center;
    text-decoration: none;
}

.title-container {
    width: 389px;
    max-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 120px 0 0 170px;
    background-color: #071eb3;
}

.title {
    width: 381px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 900;
    line-height: 1.11;
    font-style: normal;
    font-family: Roboto;
    font-stretch: normal;
    letter-spacing: 0.8px;
}

.testimonial-container {
    width: 1002px;
    height: 254px;
    margin: 80px 0 0 170px;
    background-color: #ffffff;
}

.testimonial-name {
    color: #161616;
    font-size: 32px;
    line-height: 1.5;
    font-weight: bold;
    font-style: normal;
    font-family: Roboto;
    font-stretch: normal;
    padding: 32px 0 0 32px;
    letter-spacing: normal;
}

.testimonial-position {
    color: #a5a5a5;
    font-size: 14px;
    font-style: normal;
    padding-left: 32px;
    line-height: normal;
    font-weight: normal;
    font-family: Roboto;
    font-stretch: normal;
    letter-spacing: normal;
}

.testimonial-review {
    width: 565px;
    height: 190px;
    color: #161616;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    font-style: normal;
    font-family: Roboto;
    font-stretch: normal;
    margin: 32px 32px 0 0;
    letter-spacing: normal;
}

.flex-grid {
    display: flex;
}

.col {
    flex: 1;
}

.nav-container {
    width: 240px;
    height: 56px;
    margin: -20px 0 0 1020px;
    background-color: #071eb3;
}

.nav-content {
    line-height: 1;
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    letter-spacing: 0.7px;
    padding: 10px 0 0 30px;
}